body{
    display: flex;
    justify-content: center;
    font-family: Arial, helvetica;
}
 .containter-forAll{

    width: 320px;
    box-shadow: 0px 0px 10px 5px rgb(99, 99, 99);
    border-radius: 10px;
} 
.scoreContainer{   
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    padding:0px 10px 10px 10px ;
    background-color: rgb(245, 226, 229);
}
.buttonContainer{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    column-gap: 40px;
    row-gap: 10px;
    /* padding: 20px; */
    justify-content: center;
    margin-top: 0px;
    /* border: 1px solid black; */

}
.realScore{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: hsla(240, 85%, 50%, 0.822);
    color: white;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

button{
    background-color: hsla(120, 99%, 38%, 0.959);
    color: white;
    /* padding: 10px; */
    width: 60px;
    height: 40px;
    text-align: center;
    border:none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 1px rgb(87, 86, 86);
    cursor: pointer;
    border: 1px solid rgb(88, 88, 88);
}
button:active{
    background-color:hsla(120, 81%, 49%, 0.918) ;
    scale: 0.9;
    transition:0.2s;
}
.firstChild p{
    font-size: large;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 5px 1px rgb(138, 137, 137);
    border-radius: 10px;
    padding-left: 20px;
    
}

#out, #extra{
    background-color: hsla(0, 99%, 41%, 0.89);
}
#out:active, #extra:active{
    background-color: rgb(252, 19, 19);


}
.logo{
  
    background-color: black;
    width: 50px;
    padding: 2px 10px;
    color: white;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 110px;
    font-family: cursive;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    
}

.dark{
    background-color: hsla(271, 90%, 47%, 0.767);
    
}
.darkMode{
    background-color: rgb(61, 61, 61);
   
    
}

.firstChild{
    border: 1px solid hsla(0, 0%, 47%, 0.945);
    width: 60%;
    padding-top: 0px;
    
}
.secondChild{
  
    border: 1px solid hsla(0, 0%, 47%, 0.945);

    width: 100px;
    height: 265px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.parentofTwoChild{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 0px;
}

.secondChild p{
    font-size: large;
    padding: 2px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 5px 1px rgb(138, 137, 137);
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.undo{
    background-color: hsla(202, 99%, 30%, 0.712);
    margin-left: 10px;
}
.undoButton{
    display: flex;
    justify-content: center;
    
    width: 230px;
    /* border: 1px solid black; */
}